#map {
height: 85%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}
#floating-panel {
position: absolute;
top: 15px;
left: 25%;
z-index: 5;
background-color: #cc3d58;
padding: 5px;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}
.navbar-brand{
color: #fff;
font-size: 35px;
font-family: 'Poppins', sans-serif;
margin-top: 0;
width: 120px;
line-height: 18px;
}
.mu-footer-area {
display: inline;
float: left;
text-align: center;
width: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
letter-spacing: 0.5px;
margin-bottom: 10px;
}
.navbar-header{
padding-top: 25px;
padding-left: 150px;
}
a:hover {
color: #cc3d58;
}
a{
text-decoration: none;
font-weight: bold;
color: #1c1b1b;
}

#mu-header{
    background-color: #cc3d58; 
    height: 80px;
}